<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" Lang="en">
<head>
	<meta charset="UTF-8"></meta>
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<link rel="stylesheet" th:href=@{/styles.css}>
	<title>Login to Reimbursement</title>
</head>
<body>
		<h3> Login to ERS</h3>
		<img th:src="@{images/login.png}"/>
		<div th:if="${error}">
			Unable to login. Check your username and password
		</div>
		<p>If new, click<a th:href="@{/register}"> here</a> to register</p>
		
		<form method="POST" th:action="@{/reimbursements/reimbursementrequest}" id="logingForm">
			<label for="username">Username</label>
			<input type="text" th:name="username" id="password"/><br><br/>
			
			<label for="password">Password</label>
			<input type="password" th:name="Password" id="Password"/><br><br/>
			
			<input type="submit" value="Login"<a href="/reimbursements/reimbursements">Login</a>/>
		</form>

</body>
</html>